<mat-toolbar class="matero-toolbar">
  <button
    mat-icon-button
    class="matero-toolbar-button"
    *ngIf="showToggle"
    (click)="toggleSidenav.emit()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span fxFlex></span>

  <button mat-icon-button class="matero-toolbar-button">
    <mat-icon>search</mat-icon>
  </button>

  <button
    mat-icon-button
    class="matero-toolbar-button"
    fxHide.lt-sm
    (click)="toggleSidenavNotice.emit()"
  >
    <mat-icon>list</mat-icon>
  </button>
</mat-toolbar>
